P {
    overflow: hidden;
}

img {
    width: 100px;
    height: 100px;
    float: left;
}

.left {
    float: left;
}

.right {
    float: right;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    margin: 3px;
    padding: 6px;
    line-height: 20px;
    background-color: black;
}

li a:any-link {
    color: white;
}

li a:hover {
    color: palegreen;
}

a:hover {
    color: yellow;
}

.outerClass {
    color: tomato;
}

.innerClass {
    color: gold;
}

.outterClass .innerClass {
    color: violet;
}

.outterClass .innerClass #specialID {
    color: cyan;
}


/* .filterIcon {
    background: url('filterIcon.png');
    height: 100px;
    width: 100px;
    display: block;
} */