P{
    overflow: hidden;
}

img {
    width: 50px;
    height: 50px;
}

.left {
    float:left;
}

.right {
    float:right;
}

ul {
    list-style-type: none;
}

li {
    float: left;
    margin: 3px;
    padding: 6px;
    line-height: 20px;
    background-color: black;
}

li a:visited {
    color: white;
}

li a:hover {
    color: yellow;
}

.outerClass {
    color: tomato;
}

.innerClass {
    color: gold;
}

.outterClass .innerClass specialID {
    color: violet;
}

.outterClass .innerClass #specialID {
    color: cyan;
}
